@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  text-align: center;
}

h1,
h2, h3 {
  font-size: 1.5rem;
  font-family: 'Roboto';
  font-weight: 700;
}

.header_logo {
  width: 40%;
  max-width: 10.12rem;
  margin: 0.88rem 0;
}

header, .info2,
.card_restaurant, .card_fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_location, .card_fonctionnement_number,
.card_fonctionnement2, .card_restaurant_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fonctionnement {
  margin: 3.56rem 1.25rem;
}

ul, li {
  list-style: none;
}

.heart_btnlike .fa-heart {
  font-size: 1.37rem;
}

.heart
input:not(:checked)
.heart_btnlike .fa-heart {
  animation: 300ms ease-in;
  animation-name: normal;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.menus {
  display: flex;
  flex-direction: column;
}

.menus_title {
  display: flex;
  justify-content: flex-start;
}
