@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  text-align: center;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

h1,
h2, h3 {
  font-family: 'Roboto';
  font-weight: 700;
}

h1, h2 {
  font-size: 1.5rem;
}

p {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 500;
}

.fw300 {
  font-weight: 100;
}

.header_logo {
  width: 40%;
  max-width: 10.12rem;
  margin: 0.88rem 0;
}

header, .info,
.card_restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn, .header_location, .card_fonctionnement_number,
.card_restaurant_content, .loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

ul, li {
  list-style: none;
}

.heart {
  cursor: pointer;
  color: #101010;
}

.menus, footer {
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
}

.selector {
  display: none;
}

footer {
  gap: 1rem;
  background: #353535;
  padding: 1.38rem 1.56rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 3rem;
  }
}

footer h4 {
  color: #fff;
  font-family: "Shrikhand", serif;
  font-size: 1.12rem;
  font-weight: 400;
  display: flex;
  width: 139px;
  height: 27px;
  padding-left: 1rem;
}

footer nav {
  width: 100%;
}

@media (min-width: 768px) {
  footer nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

footer a {
  color: #fff;
  text-decoration: none;
  gap: 1rem;
  display: flex;
  margin: 0.44rem;
}

.fw500 {
  font-weight: 500;
}

.fa-solid {
  font-weight: 900;
}

.footer_nav_icon {
  width: 1rem;
}

@media (min-width: 768px) {
  nav :nth-child(3) {
    margin-left: 1.5rem;
  }
}
