@import "_commun";
@import "animation/animation.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/****header****/
header .fa-arrow-left {
    position: absolute;
    top: 0.5rem;
    left: 0;
    padding: 0.3rem 0 0rem 1rem;
    color: #353535;
}

.heart_menu {
    display: flex;
    margin-right: 26px;
    align-items: center;
    justify-content: space-between;
    @media (min-width:768px) {
        top: 0.65rem;
        bottom: 0;
        left: 30rem;
      }
    }

.img_intro {
  position: relative;
  min-height: 20.13rem;
  z-index: -1;
  object-fit: cover;
  margin-bottom: -20%;
  width: 100%;
  height: 100%;
  @media (min-width: 768px) {
      min-height: 23.93rem;
      height: 360px;
      margin-bottom: -40px;
    }
}
/****page menu****/
.card_menus {
    width: 100%;
    margin: auto;
    max-width: 21.81rem;
    @media (min-width: 768px) {
        max-width: 39.62rem;
      }
    h2 {
    font-size: 1rem;
    margin: 2.5rem 0 0.75rem 0;
    }
    h3 {
        max-width: 100%;
        margin-top: 0rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-family: "roboto", sans-serif;
        font-size: 1.125rem;
        font-weight: 900;
    }
    p {
        font-family: "roboto", sans-serif;
        font-weight: 300;
        font-size: 15px;
        margin: 0px;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.empty {
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 10px;
}

.full {
    font-size: 25px;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 10px;
}

.card_box::after {
    content: "\f00c";
    font: var(--fa-font-solid);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 1.2rem;
    margin: auto;
    border-radius: 50% 50%;
    background: white;
    color: #99e2d0;
}

.cta {
    margin: 2.5rem auto;
    text-decoration: none;
}

.menus {
  width: 100%;
  background: #f6f6f6;
  border-radius: 2.5rem 2.5rem 0 0;
  padding: 2rem 1.06rem 2.5rem 1.06rem;
  gap: 40px;
  @media (min-width: 768px) {
      width: 90%;
      max-width: 65.93rem;
      margin: 0 auto;
      padding-top: 3.19rem;
    }
    h1 {
    font-family: "Shrikhand", serif;
    font-size: 1.75rem;
    font-weight: 400;
    width: 85%;
    @media (min-width: 768px) {
        width: 20%;
        min-width: 17rem;
    }
  }
}

.menus_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    position: relative;
    @media (min-width: 768px) {
        width: 90%;
        max-width: 39.62rem;
        justify-content: center;
        margin: auto;
    }
}