@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  text-align: center;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

h1,
h2, h3 {
  font-family: 'Roboto';
  font-weight: 700;
}

p {
  font-family: "Roboto";
  font-size: 1rem;
}

.fw300 {
  font-weight: 100;
}

.header_logo {
  width: 40%;
  max-width: 10.12rem;
  margin: 0.88rem 0;
}

header, .info2,
.card_restaurant, .card_fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn, .header_location, .card_fonctionnement_number,
.card_fonctionnement2, .card_restaurant_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 13.62rem;
  height: 3.12rem;
  align-items: center;
  border: none;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  border-radius: 1.56rem;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  transition: opacity 2s, box-shadow 4s;
  opacity: 1;
}

.btn:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.75);
  opacity: 0.4;
}

.heart_btnlike::after {
  content: "\f004";
  font: var(--fa-font-solid);
  font-size: 1.37rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart input:checked +
.heart_btnlike::after {
  animation-duration: 300s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: initial;
}

.fonctionnement {
  margin: 3.56rem 1.25rem;
}

.restaurant h2, .fonctionnement h2 {
  padding: 2rem 1.1rem;
  margin-right: 20rem;
}

ul, li {
  list-style: none;
}

.heart_btnlike .fa-heart {
  font-size: 1.37rem;
}

.heart {
  width: 1.75rem;
  position: absolute;
  cursor: pointer;
  color: #101010;
}

.heart_menu {
  left: 18.75rem;
}

.menus, footer {
  display: flex;
  flex-direction: column;
}

.menus_title {
  display: flex;
  justify-content: flex-start;
}

.img_intro {
  position: absolute;
  min-height: 20.13rem;
  bottom: 7.5%;
  z-index: -1;
}

img {
  display: block;
  max-width: 100%;
}

.menus {
  width: 100%;
  background: #f6f6f6;
  border-radius: 2.5rem 2.5rem 0 0;
}

.menus_title {
  width: 100%;
  align-items: center;
  gap: 0.75rem;
  position: relative;
}

.menus h1 {
  font-family: "Shrikhand", serif;
  font-size: 1.75rem;
  font-weight: 400;
  width: 85%;
}

.heart3 {
  display: none;
}

.card_menus_title {
  width: 2.5rem;
  line-height: 2rem;
  border-bottom: 0.18rem solid #99e2d0;
  padding-left: 0;
}

footer {
  gap: 1rem;
  padding: 1.38rem 1.56rem;
  background: #353535;
}

.footer_title {
  color: #fff;
  font-family: "Shrikhand", serif;
  font-size: 1.12rem;
  font-weight: 400;
}

.footer_nav {
  width: 100%;
}

.footer_nav_link {
  color: #fff;
  text-decoration: none;
  gap: 1rem;
  display: flex;
  margin: 0.44rem;
}

.fw500 {
  font-weight: 500;
}

.fa-solid {
  font-weight: 900;
}

.footer_nav_icon {
  width: 1rem;
}

body {
  text-align: center;
  margin: 0;
}

/****header****/
header {
  width: 100%;
}

.header_shadow {
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.header_location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.12rem;
  background: #eaeaea;
  color: #353535;
  font-weight: 500;
  gap: 1.06rem;
}

.header_location input {
  width: 6.81rem;
  color: #353535;
  font-size: 1.6rem;
  background: transparent;
  border: none;
}

/****section info****/
.info {
  background: #f6f6f6;
}

.info2 {
  width: 100%;
  text-align: center;
  padding: 2.44rem 0 3.56rem 0;
}

.info2 h1 {
  margin: 0 2.63rem;
}

.info2 p {
  margin: 0.5rem 1.63rem 1.69rem 2.12rem;
  font-weight: 300;
}

/****section fonctionnement****/
.fonctionnement {
  margin: 3.56rem 1.25rem;
}

.fonctionnement h2 {
  padding: 0 0 1.63rem 0.5rem;
}

.card_fonctionnement2 {
  width: 100%;
  max-width: 18rem;
  height: 4.52rem;
  margin: auto;
  position: relative;
  margin-bottom: 1.56rem;
  border-radius: 1.25rem;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 1.5rem;
}

.card_fonctionnement_number {
  position: absolute;
  left: -0.75rem;
  color: #fff;
  font-size: 0.88rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background: #9356dc;
}

.fa-mobile-screen-button, .fa-list,
.fa-store {
  width: 0.81rem;
  height: 1.24rem;
  color: #7e7e7e;
  margin-left: 1rem;
}

.fa-store {
  color: #9356dc;
}

/****section restaurant****/
.restaurant {
  background: #f6f6f6;
  padding-bottom: 4.12rem;
}

.card_restaurant {
  gap: 1.12rem;
}

.card_restaurant2 {
  width: 90%;
  max-width: 21.62rem;
  height: 15.68rem;
  background-color: #fff;
  border-radius: 0.94rem;
  position: relative;
}

.image_card {
  width: 100%;
  height: 10.9rem;
  border-radius: 0.94rem;
  object-fit: cover;
  object-position: center 62%;
}

img {
  display: block;
  max-width: 100%;
}

.badge_new {
  position: absolute;
  top: 0.94rem;
  right: 0.94rem;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 1.81rem;
  color: #008766;
  background: #99e2d0;
}

.card_restaurant_content {
  justify-content: space-between;
  padding: 1rem;
}

.card_restaurant_title {
  margin: 5px 0 5px 0;
}

.card_restaurant_txt {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.heart2 {
  bottom: 1.75rem;
  right: 1.5rem;
}

.heart3 {
  display: none;
}
