@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  text-align: center;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

h1,
h2, h3 {
  font-family: 'Roboto';
  font-weight: 700;
}

h1, h2 {
  font-size: 1.5rem;
}

p {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 500;
}

.fw300 {
  font-weight: 100;
}

.header_logo {
  width: 40%;
  max-width: 10.12rem;
  margin: 0.88rem 0;
}

header, .info,
.card_restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn, .header_location, .card_fonctionnement_number,
.card_restaurant_content, .loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

ul, li {
  list-style: none;
}

.heart {
  cursor: pointer;
  color: #101010;
}

.menus, footer {
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
}

.selector {
  display: none;
}

footer {
  gap: 1rem;
  background: #353535;
  padding: 1.38rem 1.56rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 3rem;
  }
}

h4 {
  color: #fff;
  font-family: "Shrikhand", serif;
  font-size: 1.12rem;
  font-weight: 400;
  display: flex;
  width: 139px;
  height: 27px;
  padding-left: 1rem;
}

nav {
  width: 100%;
}

@media (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

footer a {
  color: #fff;
  text-decoration: none;
  gap: 1rem;
  display: flex;
  margin: 0.44rem;
}

.fw500 {
  font-weight: 500;
}

.fa-solid {
  font-weight: 900;
}

.footer_nav_icon {
  width: 1rem;
}

@media (min-width: 768px) {
  nav :nth-child(3) {
    margin-left: 1.5rem;
  }
}

/****section fonctionnement****/
.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  gap: 20px;
}

@media (min-width: 768px) {
  .fonctionnement {
    max-width: 1200px;
    margin: auto;
  }
}

.fonctionnement h2 {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}

@media (min-width: 1440px) {
  .fonctionnement h2 {
    padding-left: 1.5rem;
  }
}

.fonctionnement ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

@media (min-width: 768px) {
  .fonctionnement ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .fonctionnement ul {
    gap: 0;
    margin: 5px;
  }
}

.fonctionnement li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 95%;
  height: 4.52rem;
  margin: auto;
  position: relative;
  border-radius: 1.25rem;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 1.5rem;
  padding-right: 20px;
}

@media (min-width: 1024px) and (min-width: 1440px) {
  .fonctionnement li {
    width: 322.49px;
    gap: 1.3rem;
    margin: auto;
  }
}

.card_fonctionnement_number {
  position: absolute;
  left: -0.75rem;
  color: #fff;
  font-size: 0.88rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background: #9356dc;
}

.fonctionnement li:hover .fonction_icon {
  color: #9356dc;
}

.fa-mobile-screen-button, .fa-list,
.fa-store {
  cursor: pointer;
  width: 0.81rem;
  height: 1.24rem;
  color: #7e7e7e;
  margin-left: -20px;
}

/****loader****/
.box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #fff;
  transition: transform 0.4s cubic-bezier(0.23, 1.83, 0.42, 1.19);
  animation: loader 3s forwards;
  overflow: hidden;
  z-index: 2;
}

.box p {
  position: absolute;
  top: 50%;
  font-family: "Shrikhand";
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
}

.circle {
  display: flex;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  animation: 1s linear infinite alternate boxCircle, 3s linear infinite spinning;
  padding-top: 340px;
}

/****keyframes loader****/
@keyframes boxCircle {
  from {
    box-shadow: 0 0 0 #9356DC, 0 0 0 #FF79DA;
  }
  to {
    box-shadow: 10px 0 #9356DC, 0 10px #FF79DA;
  }
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    z-index: 100;
    opacity: 1;
  }
  95% {
    z-index: 100;
    opacity: 1;
    background-color: white;
  }
  100% {
    z-index: -100;
    opacity: 0;
    background-color: transparent;
  }
}

/****boutton "explorer nos restaurants et "commender"****/
.btn {
  width: 13.62rem;
  height: 3.12rem;
  align-items: center;
  border: none;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  border-radius: 1.56rem;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  transition: opacity 250ms, box-shadow 300ms;
}

.btn:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  opacity: 0.8;
}

/****animation du coeur****/
.full:hover {
  color: transparent;
  background-image: linear-gradient(10deg, #ff79da, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 450ms;
  opacity: 1;
}

.full {
  color: transparent;
  background-image: linear-gradient(10deg, #ff79da, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 750ms;
  opacity: 0;
}

/****apparition des plats****/
.card_menus h2 {
  width: 2.5rem;
  line-height: 2rem;
  border-bottom: 0.18rem solid #99e2d0;
  padding-left: 0;
  animation: crescendo reverse 3s forwards;
}

.card_menus li {
  position: relative;
  width: 100%;
  max-width: 21.81rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.94rem 0 0.94rem 0.94rem;
  margin: 0.75rem 0 0.75rem 0;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 0.94rem;
  overflow: hidden;
  background: var(--White, #fff);
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  animation: crescendo reverse 2s forwards, translateToRight 750ms forwards;
  opacity: 0;
}

@media (min-width: 768px) {
  .card_menus li {
    max-width: 39.62rem;
  }
}

.card_menus .anim_1 {
  animation-delay: 300ms;
}

.card_menus .anim_2 {
  animation-delay: 600ms;
}

.card_menus .anim_3 {
  animation-delay: 900ms;
}

/****keyframes apparition des plats****/
@keyframes crescendo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

@keyframes translateToRight {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0);
  }
}

/****animation de la coche****/
.card_box {
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  right: 0;
  width: 3.68rem;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0 0.94rem 0.94rem 0rem;
  background: #99e2d0;
  transition: transform 750ms ease-out;
}

.card_menus li:hover .card_box {
  transform: translate(-3.68rem);
}

.card_menus li:hover .cardbox_title {
  width: 80%;
}

.card_menus li:hover .cardbox_price {
  margin-right: 4.9rem;
}

.card_menus div {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  transition: width 750ms ease-in-out;
}

.cardbox_price {
  margin: 1.25rem 1rem 0 1rem;
  color: #353535;
  font-family: "roboto", sans-serif;
  font-size: 0.94rem;
  font-weight: 700;
  transition: 750ms ease-out;
}

.restaurant {
  background: #f6f6f6;
  padding-bottom: 4.12rem;
  display: flex;
  flex-direction: column;
  padding-top: 49px;
}

.restaurant h2 {
  display: flex;
  justify-content: flex-start;
  padding: 0px 0px 26px 20px;
  margin: 0;
}

@media (min-width: 768px) {
  .restaurant h2 {
    padding: 0px 0px 26px 98px;
  }
}

@media (min-width: 1440px) {
  .restaurant h2 {
    padding-left: 11.9rem;
  }
}

.card_restaurant {
  gap: 18px;
}

@media (min-width: 768px) {
  .card_restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    gap: 25px 50px;
    justify-content: center;
  }
}

.restaurant article {
  width: 90%;
  height: 15.68rem;
  background-color: #fff;
  border-radius: 0.94rem;
  position: relative;
}

@media (min-width: 768px) {
  .restaurant article {
    width: 35.5%;
  }
}

.image_card {
  width: 100%;
  height: 10.9rem;
  border-radius: 0.94rem;
  object-fit: cover;
  object-position: center 62%;
}

img {
  display: block;
  max-width: 100%;
}

.badge_new {
  position: absolute;
  top: 0.94rem;
  right: 0.94rem;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 1.81rem;
  color: #008766;
  background: #99e2d0;
  font-family: "roboto";
  font-weight: 500;
}

.card_restaurant_content {
  justify-content: space-between;
}

.card_restaurant_txt {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.card_restaurant_txt h3 {
  font-size: 18px;
  display: inline-block;
  margin: 20px 0 0 15px;
}

.card_restaurant_txt p {
  margin: 5px 0 0 17px;
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: none;
}

/****header****/
header {
  width: 100%;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  header {
    height: 6rem;
    justify-content: center;
    box-shadow: none;
  }
}

.header_location {
  width: 100%;
  height: 3.12rem;
  background: #eaeaea;
  font-family: "roboto", sans-serif;
  color: #353535;
  font-weight: 500;
  gap: 1.06rem;
}

.header_location input {
  width: 6.81rem;
  color: #353535;
  background: transparent;
  border: none;
}

/****section info****/
.info {
  width: 100%;
  text-align: center;
  padding: 2.44rem 0 3.56rem 0;
  background: #f6f6f6;
}

.info h1 {
  margin: 0 2.63rem;
}

.info p {
  margin: 0.5rem 1.63rem 1.69rem 2.12rem;
  font-weight: 300;
}

/****coeur****/
.empty {
  position: absolute;
  top: 80%;
  right: 10%;
  font-size: 25px;
  cursor: pointer;
}

.full {
  position: absolute;
  top: 80%;
  right: 10%;
  font-size: 25px;
  cursor: pointer;
  opacity: 0;
}
