@import "_commun";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
    text-align: center;
    margin: 0;
  }

  .loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    animation: hide-loader 3000ms forwards;
    margin: 0;
    overflow: hidden;
  }

  .loader_letter {
    font-size: 2rem;
    color: #9356dc;
    letter-spacing: 1rem;
    animation: flash 3000ms, crescendo 3000ms;
  }

  .loader_letter1 {
    animation-delay: 0.1s;
  }

  .loader_letter2 {
    animation-delay: 0.2s;
  }

  .loader_letter3 {
    animation-delay: 0.3s;
  }

  .loader_letter4 {
    animation-delay: 0.4s;
  }

  .loader_letter5 {
    animation-delay: 0.5s;
  }

  .loader_letter6 {
    animation-delay: 0.6s;
  }

  .loader_letter7 {
    animation-delay: 0.7s;
  }

  .loader_letter8 {
    animation-delay: 0.8s;
  }

  @keyframes flash {
    0% {
      color: #ff79da;
      text-shadow: 0 0 7px #ff79da;
    }

    70% {
      color: #9356dc;
      text-shadow: 0 0 7px #ff79da;
    }

    100% {
      color: #9356dc;
      text-shadow: 0 0 7px #9356dc;
    }
  }

  @keyframes crescendo {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.7;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes hide-loader {
    0% {
      z-index: 100;
    }

    95% {
      z-index: 100;
      opacity: 1;
    }

    100% {
      z-index: -100;
      display: none;
      opacity: 0;
    }
  }
  
  /****header****/
  header {
    width: 100%;
  }
  

  .header_shadow {
    position: relative;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  }
  
  .header_location {
    width: 100%;
    height: 3.12rem;
    background: #eaeaea;
    font-family: "roboto", sans-serif;
    color: #353535;
    font-weight: 500;
    gap: 1.06rem;
  }
  
  .header_location input {
    width: 6.81rem;
    color: #353535;
    background: transparent;
    border: none;
  }
  
  /****section info****/
  .info {
    background: #f6f6f6;
  }
  
  .info2 {
    width: 100%;
    text-align: center;
    padding: 2.44rem 0 3.56rem 0;
  }
  
  .info2 h1 {
    margin: 0 2.63rem;
  }
  
  .info2 p {
    margin: 0.5rem 1.63rem 1.69rem 2.12rem;
    font-weight: 300;
  }

  /****section fonctionnement****/
.fonctionnement {
  margin: 3.56rem 1.25rem;
}

.fonctionnement h2 {
  padding: 0 0 1.63rem 0.5rem;
}

.card_fonctionnement2 {
  cursor: pointer;
  width: 100%;
  max-width: 18rem;
  height: 4.52rem;
  margin: auto;
  position: relative;
  margin-bottom: 1.56rem;
  border-radius: 1.25rem;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 1.5rem;
}

.card_fonctionnement_number {
  position: absolute;
  left: -0.75rem;
  color: #fff;
  font-size: 0.88rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background: #9356dc;
}

.fonctionnement .card_fonctionnement2:hover .fonction_icon {
  color: #9356dc;
}

.fa-mobile-screen-button, .fa-list, 
.fa-store {
  cursor: pointer;
  width: 0.81rem;
  height: 1.24rem;
  color: #7e7e7e;
  margin-left: 1rem;
}

/****section restaurant****/
.restaurant {
  background: #f6f6f6;
  padding-bottom: 4.12rem;
}

.card_restaurant {
  gap: 1.12rem;
}

.card_restaurant2 {
  width: 90%;
  max-width: 21.62rem;
  height: 15.68rem;
  background-color: #fff;
  border-radius: 0.94rem;
  position: relative;
}

.image_card {
  width: 100%;
  height: 10.9rem;
  border-radius: 0.94rem;
  object-fit: cover;
  object-position: center 62%;
}

img {
  display: block;
  max-width: 100%;
}

.badge_new {
  position: absolute;
  top: 0.94rem;
  right: 0.94rem;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 1.81rem;
  color: #008766;
  background: #99e2d0;
}

.card_restaurant_content {
  justify-content: space-between;
}

.card_restaurant_txt {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.card_restaurant_title {
  margin: 5px 0 5px 0;
}

.card_restaurant_txt h3 {
  font-size: 18px;
  display: inline-block;
  margin: 20px 0 0 15px;
}

.card_restaurant_subtitle {
  margin: 5px 0 0 17px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width:768px) {
  .loader_letter {
    font-size: 5rem;
  }

  .header_shadow {
    box-shadow: none;
  }

  .header {
    height: 6rem;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .fonctionnement {
    width: 100%;
    padding: 3.12rem 11.25rem;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .fonctionnement {
    padding: 3.12rem 0;
  }

  .fonctionnement h2 {
    max-width: 80rem;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .card_fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.28rem;
    width: 100%;
  }
}

@media (min-width: 1024px) and (min-width: 1440px) {
  .card_fonctionnement {
    max-width: 80rem;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .card_fonctionnement2 {
    width: 30%;
    min-width: 13rem;
    gap: 1.3rem;
    margin-left: 0;
  }
}

@media (min-width: 1440px) {
  .card_fonctionnement2 {
    max-width: 20rem;
    margin: auto;
  }

  .restaurant h2 {
    max-width: 80rem;
    margin: auto;
  }

  .card_restaurant {
    max-width: 80rem;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .restaurant {
    padding: 0 12.5% 1.88rem 12.5%;
  }

  .restaurant h2 {
    padding-left: 0;
  }

  .card_restaurant {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .card_restaurant :nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .card_restaurant :nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .card_restaurant :nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .card_restaurant :nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .card_restaurant2 {
    width: 100%;
    max-width: 34rem;
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 3rem;
  }

  .footer_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .footer_nav :nth-child(3) {
    margin-left: 1.5rem;
  }
  /****menu****/
  .intro {
    min-height: 23.93rem;
    margin-bottom: -4%;
  }

  .img_intro {
    min-height: 23.93rem;
    bottom: -10rem;
  }

  .menus {
    width: 90%;
    max-width: 65.93rem;
    margin: 0 auto;
    padding-top: 3.18rem;
  }

  .menus_title {
    width: 90%;
    max-width: 39.62rem;
    justify-content: center;
    margin: auto;
  }

  .menus_title1 {
    width: 20%;
    min-width: 17rem;
  }

  .card_menus {
    max-width: 39.62rem;
  }

  .heart_menu {
    top: 0.65rem;
    bottom: 0;
    left: 30rem;
  }
}

@media (min-width: 1440px) {
  .img_intro {
    bottom: -30rem;
  }
}
