@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.restaurant {
  background: #f6f6f6;
  padding-bottom: 4.12rem;
  display: flex;
  flex-direction: column;
  padding-top: 49px;
}

.restaurant h2 {
  display: flex;
  justify-content: flex-start;
  padding: 0px 0px 26px 20px;
  margin: 0;
}

@media (min-width: 768px) {
  .restaurant h2 {
    padding: 0px 0px 26px 98px;
  }
}

@media (min-width: 1440px) {
  .restaurant h2 {
    padding-left: 11.9rem;
  }
}

.card_restaurant {
  gap: 18px;
}

@media (min-width: 768px) {
  .card_restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    gap: 25px 50px;
    justify-content: center;
  }
}

.restaurant article {
  width: 90%;
  height: 15.68rem;
  background-color: #fff;
  border-radius: 0.94rem;
  position: relative;
}

@media (min-width: 768px) {
  .restaurant article {
    width: 35.5%;
  }
}

.image_card {
  width: 100%;
  height: 10.9rem;
  border-radius: 0.94rem;
  object-fit: cover;
  object-position: center 62%;
}

img {
  display: block;
  max-width: 100%;
}

.badge_new {
  position: absolute;
  top: 0.94rem;
  right: 0.94rem;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 1.81rem;
  color: #008766;
  background: #99e2d0;
  font-family: "roboto";
  font-weight: 500;
}

.card_restaurant_content {
  justify-content: space-between;
}

.card_restaurant_txt {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.card_restaurant_txt h3 {
  font-size: 18px;
  display: inline-block;
  margin: 20px 0 0 15px;
}

.card_restaurant_txt p {
  margin: 5px 0 0 17px;
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: none;
}
