/****section fonctionnement****/
.fonctionnement {
    margin: 3.56rem 1.25rem;
  }
  
  .fonctionnement h2 {
    padding: 0 0 1.63rem 0.5rem;
  }
  
  .fonctionnement li {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    max-width: 18rem;
    height: 4.52rem;
    margin: auto;
    position: relative;
    margin-bottom: 1.56rem;
    border-radius: 1.25rem;
    background: #f6f6f6;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    gap: 1.5rem;
  }
  
  .card_fonctionnement_number {
    position: absolute;
    left: -0.75rem;
    color: #fff;
    font-size: 0.88rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    background: #9356dc;
  }
  
  .fonctionnement li:hover .fonction_icon {
    color: #9356dc;
  }
  
  .fa-mobile-screen-button, .fa-list, 
  .fa-store {
    cursor: pointer;
    width: 0.81rem;
    height: 1.24rem;
    color: #7e7e7e;
    margin-left: 1rem;
  }
/****media queries****/
  @media (min-width: 1024px) {
    .fonctionnement {
      width: 100%;
      padding: 3.12rem 11.25rem;
      margin: 0;
    }
  }
  
  @media (min-width: 1440px) {
    .fonctionnement {
      padding: 3.12rem 0;
    }
  
    .fonctionnement h2 {
      max-width: 80rem;
      margin: auto;
    }
  }
  
  @media (min-width: 1024px) {
    .fonctionnement ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2.28rem;
      width: 100%;
    }
  }
  
  @media (min-width: 1024px) and (min-width: 1440px) {
    .fonctionnement ul {
      max-width: 80rem;
      margin: auto;
    }
  }
  
  @media (min-width: 1024px) {
    .fonctionnement li {
      width: 30%;
      min-width: 13rem;
      gap: 1.3rem;
      margin-left: 0;
    }
  }
  
  @media (min-width: 1440px) {
    .fonctionnement li {
      max-width: 20rem;
      margin: auto;
    }
  }
    